#imageContainer {
    width: 800px;
    margin-top: 20px;
    margin-left: 550px;
    margin-bottom: 10px;
}
#images{
    width: 780px;
    height: 580px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}

#previousButton{
    margin-left: 550px;
    background-color: bisque;
}

#nextButton{
    margin-left: 600px;
    background-color: bisque;
}
#likeDislikeButtons{
    margin-left: 550px;
    border-radius: 10px;
    border-bottom: 5px;
    border-color: grey;
    color: black;
    
}
body{
    background-color: rgb(250, 161, 83);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


#commentButtons{
border-top: 0px;
margin-left: 550px;
border-color: bisque;

}


